/** @format */

@import "tailwindcss";

@theme{
--Neutral-900: hsl(0, 0%, 7%);
--Neutral-800: hsl(0, 0%, 15%);
--Neutral-500: hsl(240, 3%, 46%);
--Neutral-400: hsl(240, 1%, 59%);
--Neutral-0: hsl(0, 0%, 100%);
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 20px;
  /* border: 1px solid red; */
}

.dropdown-content {
  position: absolute;
  display: none;
  min-width: 120px;
  z-index: 1;
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content label {
  padding: 8px;
  /* margin: 12px; */
  display: block;
  cursor: pointer;
  
  border-radius: 6px;
}
.dropdown-content input[type="radio"] {
  margin-right: 5px;
}
.dropdown button img {
  margin-left: 10px;
  width: 12px;
  height: 12px;
}
