/** @format */

@import "tailwindcss";

.dropdown {
  position: relative;
  display: inline-block;
  padding: 20px;
  /* border: 1px solid red; */
}

.dropdown-content {
  position: absolute;
  display: none;
  min-width: 120px;
  z-index: 1;
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content label {
  padding: 8px;
  /* margin: 12px; */
  display: block;
  cursor: pointer;
  /* border-bottom: 1px solid black;
  border-top: 1px solid black; */
  border-radius: 6px;
}
.dropdown-content input[type="radio"] {
  margin-right: 5px;
}
