/** @format */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import "tailwindcss";

@theme {
  --Neutral-900: hsl(0, 0%, 7%);
  --Neutral-800: hsl(0, 0%, 15%);
  --Neutral-500: hsl(240, 3%, 46%);
  --Neutral-400: hsl(240, 1%, 59%);
  --Neutral-0: hsl(0, 0%, 100%);
  --font-sora: "Sora", sans-serif;

  /* Blue */
  --Blue-600: hsl(214, 100%, 55%);
  --Blue-400: hsl(210, 100%, 65%);

  --Blue-600: hsl(214, 100%, 55%); 
  --Blue-400: hsl(210, 100%, 65%);

  /* ### Red */

  --Red-500: hsl(354, 63%, 57%);

  /* ### Green */

  --Green-500: hsl(140, 63%, 57%);

  /* ### Yellow */

  --Yellow-400: hsl(49, 85%, 70%);
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 20px;
  /* border: 1px solid red; */
}

.dropdown-content {
  position: absolute;
  display: none;
  min-width: 120px;
  z-index: 1;
  background-color: var(--Neutral-900);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content label {
  padding: 8px;
  /* margin: 12px; */
  display: block;
  cursor: pointer;

  border-radius: 6px;
}
.dropdown-content input[type="radio"] {
  margin-right: 5px;
}
.dropdown button img {
  margin-left: 10px;
  width: 12px;
  height: 12px;
}
